In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv("fashionmnist/fashion-mnist_train.csv")
test = pd.read_csv("fashionmnist/fashion-mnist_test.csv")

In [4]:
train.head(5)

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
test.head(5)

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
train = np.array(train)
test = np.array(test)

In [7]:
X_train = train[:,1:]
Y_train = train[:,0]
print X_train.shape, Y_train.shape

(60000, 784) (60000,)

In [9]:
X_test = test[:,1:]
Y_test = test[:,0]
print X_test.shape, Y_test.shape

(10000, 784) (10000,)

In [13]:
np.save('X_train',X_train)
np.save('Y_train',Y_train)

In [12]:
np.save('X_test',X_test)
np.save('Y_test',Y_test)